<h1>Bookmarkr Demo by Anna</h1>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <% if bookmark.favorite %> * <% end %>
      <%= link_to bookmark.title, bookmark.url %>
      <%= bookmark.comment %>
      <%= link_to "Edit", edit_bookmark_path(bookmark) %>
      <%= link_to "Delete", bookmark_path(bookmark), method: :delete %>
    </li>
  <% end %>
</ul>

<%= link_to "Create New Bookmark", new_bookmark_path %>
